
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1,h2{

        font-family: 'Press Start 2P', cursive;
}

body{

        font-family: 'Saira Condensed', sans-serif; 
        background-color: #abd1c6;
        color:#0f3433;

}

a:link {
        text-decoration: rgb(238, 11, 204);
        
      }
      
      a:visited {
        text-decoration: blue;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      a:active {
        text-decoration: none;

      }
*/
a{
        color:rgba(12, 17, 15, 0.37);
}
/*
a:link, a:visited {
        background-color: plum;
        color: black;
        border: 2px solid bisque;
        padding: 20px 45px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

      }

      a:hover, a:active {
        background-color: #de71f4;
        color: green;
        text-decoration: none;
        border: 4px solid bisque;

      }
*/
      div {
        text-align: wrap;
      }

#header {
  text-align: center; 
  color:forestgreen;



    }

.round{
border-radius: 50%;
}

#navbar {
background-color: #de71f4;

}

#navbar > a {

  color:azure;
  padding: 40px;
  display: inline-block;
  
}
#navbar > a:hover {

  background-color: #340fc8;
}