@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora&family=Press+Start+2P&family=Silkscreen&display=swap');

h1,h2{

  font-family: 'Lora', serif;
}

body{

        
        font-family: 'Saira Condensed', sans-serif;
        color:#b8c1ec;
        background-color: #232946;
        margin: 0 ;
}

main{
max-width: 768px;
margin: 0 auto;
}

a:link {
        text-decoration: rgb(238, 11, 204);
        
      }
      
      a:visited {
        text-decoration: blue;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      a:active {
        text-decoration: none;

      }
*/
a{
        color:rgba(12, 17, 15, 0.37);
}
/*
a:link, a:visited {
        background-color: plum;
        color: black;
        border: 2px solid bisque;
        padding: 20px 45px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

      }

      a:hover, a:active {
        background-color: #de71f4;
        color: green;
        text-decoration: none;
        border: 4px solid bisque;

      }
*/
      div {
        text-align: wrap;
      }

#header {
  text-align: center; 
  color:#fffffe;



    }

.round{
border-radius: 8px;
}


#navbar {
background-color: #fffffe;
position:sticky;
  top:0;
}

#navbar > a {

  color:#607af9;
  padding: 15px;
  display: inline-block;
  
  
}
#navbar > a:hover {

  background-color: #c4c1cd;
}
/*
input[type=text], select {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(165, 184, 169);
  border-radius: 4px;
  box-sizing: border-box;
  border:4px;
  border-bottom: 16px;
}

input[type=submit] {
  width: 100%;
  background-color: #97a5e7;
  color: rgb(191, 135, 135);
  padding:  18px ;
  margin: 20px 3px;
  border: #607af9;
  border-color:#60daf9;
  border-radius: 20px 4px;
  border-width: 4px 8px ;
  border-style: solid;
  cursor: pointer;

}
input[type=reset] {
  width: 100%;
  background-color: #ae9d9c;
  color: rgb(107, 67, 67);
  padding:  18px ;
  margin: 20px 3px;
  border: none;
  border-radius: 8px 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f9bc60;
}

input[type=reset]:hover {
  background-color: #f9bc60;
}
/*
div {
  border-radius: 5px;
  background-color: #c03ac0;
  padding: 20px;
}
*/

@media screen and (max-width: 480px) {
  body { 
    background-color: aquamarine;
    
  }

  
}
input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: #020826;
  background-color:#eebbc3;
  border-radius: 8px;
  


}

#Response {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: #020826;
  background-color:#eebbc3;
  border-radius: 8px;

}

input[type=text]:hover {
background-color: whitesmoke;
border: 3px solid #555;
}

input[type="Submit"] {

  font-family: 'Saira Condensed', sans-serif;
font-size: 15px;
color: #020826;
border-radius: 8px;
background-color:#eebbc3;
border-color: #020826;
cursor: pointer;
padding:15px 15px;

}
input[type=Submit]:hover {
  background-color: whitesmoke;
  border: 3px solid #555;
  }

input[type="Reset"] {
font-family: 'Saira Condensed', sans-serif;
font-size: 15px;
color: #020826;
border-radius: 8px;
background-color:#eebbc3;
border-color: #020826;
cursor: pointer;
padding:15px 15px;
}
input[type=Reset]:hover {
  background-color: whitesmoke;
  border: 3px solid #555;
  
  }

hr{

border: #607af9;

}
[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: 0;
		opacity: 0.01;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 2.3em;
		font-size: 1.05em;
		line-height: 1.7;
		cursor: pointer;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 1.4em;
		height: 1.4em;
		border: 1px solid #aaa;
		background: #eebbc3;
		border-radius: .2em;
		box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
		-webkit-transition: all .275s;
				transition: all .275s;
	}

	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '✕';
		position: absolute;
		top: .525em;
		left: .18em;
		font-size: 1.375em;
		color: #b8c1ec;
		line-height: 0;
		-webkit-transition: all .2s;
				transition: all .2s;
	}

	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		-webkit-transform: scale(0) rotate(45deg);
				transform: scale(0) rotate(45deg);
	}

	[type="checkbox"]:checked + label:after {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0);
				transform: scale(1) rotate(0);
	}

	/* Disabled checkbox */
	[type="checkbox"]:disabled:not(:checked) + label:before,
	[type="checkbox"]:disabled:checked + label:before {
		box-shadow: none;
		border-color: #bbb;
		background-color: #e9e9e9;
	}

	[type="checkbox"]:disabled:checked + label:after {
		color: #777;
	}

	[type="checkbox"]:disabled + label {
		color: #aaa;
	}

	/* Accessibility */
	[type="checkbox"]:checked:focus + label:before,
	[type="checkbox"]:not(:checked):focus + label:before {
		box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
	}

  html,body{margin:0;}
  header{
    position: fixed;
    top:0;
    height: 125px;
    width: 100%;
    
  
  
  
  @supports (height: 100vh) {	
    body{	
      background: linear-gradient(to right top, #0089f2 50%, #DDD 50%);
      background-size: 100% calc(100% - 100vh + 129px);
      background-repeat: no-repeat;
    }
  
    body:before{
      content:'';
      position: fixed;
      top: 128px;
      bottom: 0;
      width: 100%;
      z-index: -1;
      
    }
  }


/*
 