
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1,h2{

        font-family: 'Press Start 2P', cursive;
}

body{

        font-family: 'Saira Condensed', sans-serif; 
        background-color: #004643;
        color:#fffffe;
        
        margin: 0 ;
}

main{
max-width: 768px;
margin: 0 auto;
}

a:link {
        text-decoration: rgb(238, 11, 204);
        
      }
      
      a:visited {
        text-decoration: blue;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      a:active {
        text-decoration: none;

      }
*/
a{
        color:rgba(12, 17, 15, 0.37);
}
/*
a:link, a:visited {
        background-color: plum;
        color: black;
        border: 2px solid bisque;
        padding: 20px 45px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

      }

      a:hover, a:active {
        background-color: #de71f4;
        color: green;
        text-decoration: none;
        border: 4px solid bisque;

      }
*/
      div {
        text-align: wrap;
      }

#header {
  text-align: center; 
  color:forestgreen;



    }

.round{
border-radius: 50%;
}


#navbar {
background-color: #de71f4;

}

#navbar > a {

  color:azure;
  padding: 15px;
  display: inline-block;
  
}
#navbar > a:hover {

  background-color: #c4c1cd;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(165, 184, 169);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #0f3433;
  color: rgb(191, 135, 135);
  padding:  18px ;
  margin: 20px 3px;
  border: none;
  border-radius: 8px 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f9bc60;
}
/*
div {
  border-radius: 5px;
  background-color: #c03ac0;
  padding: 20px;
}
*/

@media screen and (max-width: 480px) {
  body { 
    background-color: aquamarine;
    
  }
  
}